.App {
  text-align: center;
  display: flex;
  justify-content: center; /*가운데정렬 */
  font-size : 14px;
  padding: 80px 0;
  background-image: url("./img/title_background2.png");
  background-size: 100%;
  width: 100%; /*카톡느낌이 나도록 100%로 채우게 하는데 최대너비를 지정함*/
  max-width: 900px;
  height : calc(var(--vh,1vh)*100);
}
.container_title{
  flex-direction: column; /*위에서 아래로 쌓기 위해서 */
  align-items: center;
  justify-content: center; /*가운데정렬 */
  color: #000000;
  font-size: 50px;
  font-weight: 700; /*굵게*/
}


.quiz-container{
  display: flex;
  flex-direction: column; /*위에서 아래로 쌓기 위해서 */
  align-items: center;
  justify-content: center; /*가운데정렬 */
  
  width: 100%; /*카톡느낌이 나도록 100%로 채우게 하는데 최대너비를 지정함*/
  max-width: 900px;
  height: 100%;
  
}

.question{
  display: flex;
  flex-direction: column; /*위에서 아래로 쌓기 위해서 */
  align-items: center;
  justify-content: center; /*가운데정렬 */
  color: #000000;
  font-size: 40px;
  font-weight: 700; /*굵게*/
  padding: 20px 0;
}

.fade-in-out {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-in-out-hidden {
  opacity: 0;
  pointer-events: none;
}

.btn-3d {
  position: relative;
  display: inline-block;
  font-size: 22px;
  padding: 20px 60px;
  color: white;
  margin: 20px 10px 10px;
  border-radius: 6px;
  text-align: center;
  transition: top .01s linear;
}
/* .btn-3d.red:hover    {background-color: #e74c3c;}
.btn-3d.blue:hover   {background-color: #699DD1;} */


/* 3D button colors */
.btn-3d.red {
  
  background-color: #e74c3c;
  box-shadow: 0 0 0 1px #c63702 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 #C24032,
        0 8px 0 1px rgba(0,0,0,0.4),
        0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.red:active {
  box-shadow: 0 0 0 1px #c63702 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.blue {
  background-color: #6DA2D9;
  box-shadow: 0 0 0 1px #6698cb inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 rgba(110, 164, 219, .7),
        0 8px 0 1px rgba(0,0,0,.4),
        0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.blue:active {
  box-shadow: 0 0 0 1px #6191C2 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}
.btn-3d.cyan {
  background-color: #7fccde;
  box-shadow: 0 0 0 1px #7fccde inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 rgba(102, 164, 178, .6),
        0 8px 0 1px rgba(0,0,0,.4),
        0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.cyan:active {
  box-shadow: 0 0 0 1px #7fccde inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}



  
